

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
}

.cell {
  border: none;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
}

.cell:active {
  outline: none;
}

/* Grid */

#tile1 {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

#tile2 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

#tile3 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

#tile4 {
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

#tile5 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#tile6 {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#tile7 {
  border-top: 1px solid black;
  border-right: 1px solid black;
}

#tile8 {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

#tile9 {
  border-left: 1px solid black;
  border-top: 1px solid black;
}